.DS_Store
._*

.git/
.github/
.gitmodules

node_modules/
*/node_modules/

.env
.env.*
!.env.example

DerivedData/
.build/
Pods/

*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
